openapi: 3.0.0
info:
  title: Auth API
  version: 1.0.0
  description: API de autenticação JWT
servers:
  - url: http://localhost:8100
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        ID:
          type: string
        name:
          type: string
        email:
          type: string
        role:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    LoginRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    CreateUserRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
        role:
          type: string
paths:
  /auth/login:
    post:
      summary: Login de usuário
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login bem-sucedido
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  message:
                    type: string
                    example: "Refresh token set via cookie."
    
        '401':
          description: Credenciais inválidas
  /users/create:
    post:
      summary: Criar um novo usuário
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Dados inválidos
  /users/{userID}:
    get:
      summary: Obter usuário por ID
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: userID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Usuário encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Não autorizado
        '404':
          description: Usuário não encontrado

  /auth/logout:
    post:
      summary: Logout seguro
      tags:
        - Auth
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout realizado e tokens revogados
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Logged out successfully"
        '401':
          description: Token inválido ou expirado